/* drop menu */
.drop-menu-profile {
  z-index: 1;
  top: 45px;
  min-width: 195px;
  right: -35px;
  background-color: rgb(73, 73, 73);
  color: white;
}

.drop-menu-profile a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.drop-menu-profile a:hover {
  font-weight: bold;
  transition: all 0.3s ease;
}

/*  */
.form-select {
  background-color: rgb(26, 26, 29) !important;
  color: white;
  padding: 15px;
  border-radius: 0;
}

/* inputs */
.input-dark {
  height: 3.5rem !important;
  background-color: rgb(73, 73, 73);
  border: 1px solid azure;
  border-radius: 0;
  color: white;
}

.input-dark:focus {
  background-color: rgb(73, 73, 73);
  outline: none;
  color: whitesmoke;
  box-shadow: none;
  border-color: #212529;
}

.input-dark:disabled {
  background-color: rgb(5, 3, 3);
}

textarea {
  border-radius: 0 !important;
}

.pass-eye {
  color: white;
  right: 15px;
  top: 16px;
}

.btn-primary {
  padding: 15px;
  background-color: rgb(26, 26, 29);
  border-color: rgb(73, 73, 73);
}

.btn-primary:hover {
  background-color: rgb(46, 23, 23);
  border-color: rgb(73, 73, 73);
}

.btn-primary:focus {
  background-color: rgb(26, 26, 29);
  border-color: rgb(73, 73, 73);
}

/* ---------------pagination--------------- */
.pagination .page-item {
  margin: 0 5px;
}

.page-item:first-child .page-link {
  border: none;
  background-color: transparent;
}

.page-item:last-child .page-link {
  border: none;
  background-color: transparent;
}

.pagination .page-link {
  color: white !important;
  border: none;
  background-color: transparent;
}

.pagination .page-item.active .page-link {
  color: white !important;
  background-color: rgb(26, 26, 29) !important;
  border-radius: 8px;
}

.pagination .page-link:focus {
  box-shadow: none;
}

/* table */
.table-dropdown .form-select {
  background-color: rgb(26, 26, 29);
  color: white;
}

.no-data-img {
  height: 100px;
  width: 100px;
}

/* modal */
.modal-custom {
  background-color: rgb(26, 26, 29) !important;
  min-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.modal-custom .btn-primary {
  padding: 7px;
}

/*  */
.table-search-btn {
  position: absolute;
  right: 10px;
  top: 5px;
}

.form-select:focus {
  box-shadow: none;
  border-color: #212529;
}

input[type="file"]:focus {
  box-shadow: none;
  border-color: #212529;
}