.content-area {
  height: calc(100vh - 83px);
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  overflow: scroll;
}

/*----------- sidebar ----------------*/

.nav-and-content-area {
  width: calc(100vw - 280px);
  position: absolute;
  right: 0;
  transition: all 0.5s;
  padding-left: 10px;
}
.sidebar-area {
  width: 300px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-area-sm {
  width: 85px;
  transition: all 0.5s;
}
.sidebar {
  width: 280px;
  height: 98vh;
  position: fixed;
  transition: all 0.5s;
  border-radius: 15px;
}
.sidebar-hide {
  width: 70px;
}
.sidebar-show {
  left: 10px;
}
.w-content-sm {
  width: calc(100% - 70px);
}
.icon-scale-logo {
  scale: 1.5;
  transition: 1s ease-out;
}
.icon-scale {
  scale: 2.2;
  transition: 1s ease-out;
}
.logo-wrapper {
  padding: 10px 15px;
  overflow: hidden;
}
.logo-wrapper h2 {
  background-color: rgb(26, 26, 29);
  border-radius: 12px;
  padding: 10px;
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1025px) {
  /* .sidebar-hide {
    width: 280px;
  }
  .sidebar-show {
    width: 70px;
  }
  .nav-and-content-area {
    width: calc(100% - 70px);
  }
  .w-content-sm {
    width: calc(100% - 280px);
  }
  .sidebar-area-sm {
    width: 300px;
  }
  .icon-scale {
    scale: 1;
    transition: 1s ease-out;
  } */
}
/* .sidebar img {
  width: 278px;
  border-bottom: 1px solid #dfdfdf;
  padding: 17px 12px;
} */
.menu-items-wrapper {
  padding: 20px 0 20px 0;
}

.menu-title {
  margin-left: 10px;
  font-size: 17px;
}
.menu-ul svg {
  font-size: 17px;
}
.menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 8px;
  transition: all 0.5s;
  padding: 10px 15px;
  border-radius: 12px;
}

.sidebar li {
  list-style: none;
}
.menu-item:hover {
  background: rgb(73, 73, 73);
  color: white !important;
  transition: all 0.2s;
}

.menu-active {
  background: rgb(73, 73, 73);
  color: white !important;
}
/* navbar */
.nav-wrapper {
  padding: 10px;
}
.navbar-container {
  border-radius: 15px;
}
